# City data from Eurostats
## Urban Audit
We get the data from http://ec.europa.eu/eurostat/statistics-explained/index.php/Statistics_on_European_cities#Cities_.28Urban_Audit.29

Looking at the webpage and navigating around, we see an intersting statistics file for "Population on 1 January by age groups and sex - cities and greater cities (urb_cpop1)" at http://ec.europa.eu/eurostat/web/cities/data/database	 

A local version of this statistic is available at ./data/urb_cpop1.tsv (the fileformat seems to be tsv)

In [7]:
import os # for getting file size
import csv # for handling csv/tsv files

In [52]:
urbanAuditFile="./data/urb_cpop1.tsv"
fSize = os.path.getsize(urbanAuditFile)

print('File size of '+urbanAuditFile+' is: '+str(fSize/1024/1024) + ' MBytes')

File size of ./data/urb_cpop1.tsv is: 4.1985626220703125 MBytes

Looks like a "bigger" file with 4.19MB
Lets have a look at the first couple of lines

In [53]:
with open(urbanAuditFile) as f:
    content=f.read()
    c=0
    for line in content.split("\n"): 
        c+=1
        if c<10:
            print("line"+str(c)+">> "+line)
print("total lines "+str(c))

line1>> indic_ur,cities\time	2015 	2014 	2013 	2012 	2011 	2010 	2009 	2008 	2007 	2006 	2005 	2004 	2003 	2002 	2001 	2000 	1999 	1998 	1997 	1996 	1995 	1994 	1993 	1992 	1991 	1990
line2>> DE1001V,AT	: 	: 	8451860 	: 	: 	: 	8355260 	8318592 	8282984 	8254298 	8201359 	8140122 	: 	8083797 	8032875 	8011566 	7992323 	8075425 	8067812 	8054802 	8039865 	8015027 	7962003 	7867796 	7795786 	:
line3>> DE1001V,AT001C1	: 	: 	1741246 	: 	: 	: 	1687271 	1674909 	1661246 	1652449 	1632569 	1598626 	: 	: 	1550123 	1615438 e	1608144 e	1606843 e	1609631 e	1595402 e	: 	: 	: 	: 	1539848 	:
line4>> DE1001V,AT002C1	: 	: 	265778 	: 	: 	: 	253994 	250738 	247624 	244997 	241298 	235477 	: 	: 	226244 	: 	: 	: 	: 	: 	: 	: 	: 	: 	237810 	:
line5>> DE1001V,AT003C1	: 	: 	191501 	: 	: 	: 	189122 	188593 	188393 	187936 	186781 	185530 	: 	: 	183504 	: 	: 	: 	: 	: 	: 	: 	: 	: 	203044 	:
line6>> DE1001V,AT004C1	: 	: 	145871 	: 	: 	: 	147732 	147169 	146845 	146484 	145124 	145680 	: 	: 	142662 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	:
line7>> DE1001V,AT005C1	: 	: 	122458 	: 	: 	: 	118035 	117150 	116370 	115643 	114438 	114561 	: 	: 	113392 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	:
line8>> DE1001V,AT006C1	: 	: 	95450 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	: 	:
line9>> DE1001V,BE	: 	11203992 	11161642 	11094850 	11000638 	10839905 	10753080 	10666866 	10584534 	10511382 	10445852 	10396421 	10355844 	10309725 	10263414 	10239085 	10213752 	10192264 	10170226 	10143047 	10130574 	10100631 	10068319 	10021997 	9986975 	:
total lines 35814

Interesting, this might be a tab-separated ("\t") file. There are no "," and the formatting indicates some tabs. 
The lines seems to have 27 elements (first column as indicator, followed by 26 columns for 2015 - 1990)

Lets parse this file as CSV files and we get nice "rows"

In [54]:
with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    c=0 # counter for the parsed line numbers
    N=2 # MAX number of lines we want to output
    for row in csvfile:
        c+=1
        print(row)
        print("Lenght of row "+str(len(row)))
        if c>N:
            break

['indic_ur,cities\\time', '2015 ', '2014 ', '2013 ', '2012 ', '2011 ', '2010 ', '2009 ', '2008 ', '2007 ', '2006 ', '2005 ', '2004 ', '2003 ', '2002 ', '2001 ', '2000 ', '1999 ', '1998 ', '1997 ', '1996 ', '1995 ', '1994 ', '1993 ', '1992 ', '1991 ', '1990 ']
Lenght of row 27
['DE1001V,AT', ': ', ': ', '8451860 ', ': ', ': ', ': ', '8355260 ', '8318592 ', '8282984 ', '8254298 ', '8201359 ', '8140122 ', ': ', '8083797 ', '8032875 ', '8011566 ', '7992323 ', '8075425 ', '8067812 ', '8054802 ', '8039865 ', '8015027 ', '7962003 ', '7867796 ', '7795786 ', ': ']
Lenght of row 27
['DE1001V,AT001C1', ': ', ': ', '1741246 ', ': ', ': ', ': ', '1687271 ', '1674909 ', '1661246 ', '1652449 ', '1632569 ', '1598626 ', ': ', ': ', '1550123 ', '1615438 e', '1608144 e', '1606843 e', '1609631 e', '1595402 e', ': ', ': ', ': ', ': ', '1539848 ', ': ']
Lenght of row 27

Ok, thats what we thougth, tab delimiter and 27 columns.

In [55]:
ind=[]
with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    c=0
    for row in csvfile:
        c+=1
        if c>1: #we skip the first header row
            ind.append(row[0])
print("lenght of unique identifiers "+str(len(set(ind))))

lenght of unique identifiers 35812

Ok 35812 unique indicators and 35814 rows -> one indicator per row

In [23]:
for indicator in ind[0:20]:
    print(indicator)#print first 20 indicators

DE1001V,AT
DE1001V,AT001C1
DE1001V,AT002C1
DE1001V,AT003C1
DE1001V,AT004C1
DE1001V,AT005C1
DE1001V,AT006C1
DE1001V,BE
DE1001V,BE001C1
DE1001V,BE002C1
DE1001V,BE003C1
DE1001V,BE004C1
DE1001V,BE005C1
DE1001V,BE006C1
DE1001V,BE007C1
DE1001V,BE008C1
DE1001V,BE009C1
DE1001V,BE010C1
DE1001V,BE011C1
DE1001V,BG

### Observations
Ah ok, this looks like there is a pattern. Lets try to understand the indictor codes:
We see that there are two types of codes, which uses "," to separate the indicator and the country/city
* DE1001V,AT
* DE1001V,AT001C1

The first part ( before the ,) is the indicator variable, the second part refers to the country/city:

## Indicators and their meaning
Browsing through the Eurostats page shows that the indicator codes are listed at "http://dd.eionet.europa.eu/vocabulary/eurostat/indic_ur/" in different formats. 

We downloaded the file in CSV to the local file "./data/indic_ur.csv"

In [40]:
indicatorCodesFile="./data/indic_ur.csv"
with open(indicatorCodesFile) as f:
    csvfile = csv.reader(f)
    for i, row in enumerate(csvfile):
        if i<3:
            print(row)
print("Total lines "+str(csvfile.line_num))

['\ufeff"URI"', 'Label', 'Definition', 'Notation', 'Status', 'AcceptedDate']
['http://dd.eionet.europa.eu/vocabulary/eurostat/indic_ur/DE1001V', 'Population on the 1st of January, total', '', 'DE1001V', 'valid', '2013-09-04']
['http://dd.eionet.europa.eu/vocabulary/eurostat/indic_ur/DE1002V', 'Population on the 1st of January, male', '', 'DE1002V', 'valid', '2013-09-04']
Total lines 537

Ok 537 different codes

In [34]:
# check if one of the codes in the first lines appear in this file
with open(indicatorCodesFile) as f:
    csvfile = csv.reader(f)
    for i, row in enumerate(csvfile):
        if 'DE1001V' in row[3]:
            print(row)

['http://dd.eionet.europa.eu/vocabulary/eurostat/indic_ur/DE1001V', 'Population on the 1st of January, total', '', 'DE1001V', 'valid', '2013-09-04']

Ok, lets keep that in mind, we come back to this later

## City & Country codes
The city codes are available in at "http://dd.eionet.europa.eu/vocabulary/eurostat/cities/", either as "RDF":"http://dd.eionet.europa.eu/vocabulary/eurostat/cities/rdf;jsessionid=5AF9B4AF77C5DADF55069F856234E145" or as "CSV":"http://dd.eionet.europa.eu/vocabulary/eurostat/cities/csv;jsessionid=5AF9B4AF77C5DADF55069F856234E145"
A local copy of the CSV file is available at "./data/cities.csv" and lists the cities incl their codes and names.

In [41]:
cityCodeFile="./data/cities.csv"
with open(cityCodeFile) as f:
    csvfile = csv.reader(f)
    for i,row in enumerate(csvfile):
        if i<1:
            print(row)
print("Total lines "+str(csvfile.line_num))

['\ufeff"URI"', 'Label', 'Definition', 'Notation', 'Status', 'AcceptedDate', 'coreCityOf', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'hasDistrict', 'inCountry', 'owl:sameAs', 'skos:broader', 'skos:closeMatch', 'skos:exactMatch', 'skos:exactMatch', 'skos:exactMatch', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower', 'skos:narrower']
Total lines 11595

Okay, that are a lot of information for each city code and we have 11595 lines. 

Maybe we want to filter the columns for Label (index 1) and Notation (index 3).

In [47]:
with open(cityCodeFile) as f:
    csvfile = csv.reader(f)
    for i,row in enumerate(csvfile):
        if i<4:
            print(row[1],row[3])

Label Notation
Austria AT
Wien AT001C
Wien AT001C1

Lets check if they have "Wien":

In [48]:
with open(cityCodeFile) as f:
    csvfile = csv.reader(f)
    for i,row in enumerate(csvfile):
        if 'Wien' in row[1]:
            print(row[1],row[3])

Wien AT001C
Wien AT001C1
Wien AT001L2

Ah, three different codes for "Wien", go figure;) (?)

### Country Codes

Countries use ISO two-letter codes, e.g. available on "datahub.io":"https://datahub.io/de/dataset/iso-3166-1-alpha-2-country-codes/resource/9c3b30dd-f5f3-4bbe-a3cb-d7b2c21d66ce"
 * "CSV":"./data/iso_3166_2_countries.csv" list of countries and country codes.

In [49]:
countryCodeFile="./data/iso_3166_2_countries.csv"
with open(countryCodeFile) as f:
    csvfile = csv.reader(f)
    for i,row in enumerate(csvfile):
        if i<1:
            print(row)
print("Total lines "+str(csvfile.line_num))

['Sort Order', 'Common Name', 'Formal Name', 'Type', 'Sub Type', 'Sovereignty', 'Capital', 'ISO 4217 Currency Code', 'ISO 4217 Currency Name', 'ITU-T Telephone Code', 'ISO 3166-1 2 Letter Code', 'ISO 3166-1 3 Letter Code', 'ISO 3166-1 Number', 'IANA Country Code TLD']
Total lines 269

Again, lots of columns, but we are mainly interested in the mapping between common name (index 1) and the ISO 2 Letter code (index 10)

In [51]:
with open(countryCodeFile) as f:
    csvfile = csv.reader(f)
    for i,row in enumerate(csvfile):
        if row[1] == 'Austria':
            print(row[1], row[10])

Austria AT

## Merging
At this stage, we are able to create a dictionary of 
* Indicator -to-> name
* CityCode -to-> city name
* CountryCode -to-> country name
These mappings could be used to provide some more "human friendly" labels in the output

# Investiagting some "interesting" questions

## Which one is the biggest city?
So what exactly do we mean? 
* Biggest city in terms of biggest population over all 26 years? 
* Or biggest city in terms of overall population in 2015? 

#### Lets get the biggest city in 2015

This can be done by a simple scan and storing always the local maximum.

We filter all rows which have the indicator **DE1001V** (=Population on the 1st of January, total) and a city code, that is the indicator string is longer than "DE1001V,AT" -> which would be only the country indicator

In [57]:
cityCode=''
cityPopulation2015=0

with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for row in csvfile:
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"):
            if int(row[1])>cityPopulation2015: # row[1] is the population of 2015
                cityPopulation2015=row[1]
                cityCode=row[0].split(",")[1] # split the indicator by "," and take the second part
print("Biggest city: "+cityCode+" with "+str(cityPopulation2015)+" citizens")

ValueError: invalid literal for int() with base 10: ': '

Interesting, row[1] is by default a str value and we firstly need to typecast it int. 

Next, it seems that not all row[1] values are numbers, missing values are indicated by ":"

So lets adapt our filtering approach

We first remove all leading and ending whitespaces by using the string function **strip()**.

In [68]:
cityCode=''
cityPopulation2015=0

with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for row in csvfile:
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"):
            popCount=row[1].strip()
            if popCount != ":" and int(popCount)>cityPopulation2015: # row[1] is the population of 2015
                cityPopulation2015=int(popCount)
                cityCode=row[0].split(",")[1] # split the indicator by "," and take the second part
print("Biggest city: "+cityCode+" with "+str(cityPopulation2015)+" citizens")

ValueError: invalid literal for int() with base 10: '205768 de'

Hmm, clean data looks definitely different to this data!!

Seems, like some population values have some additional suffix in form of "_X".

We can remove them as well, by splitting the string at the " " (whitespace) and taking only the former part

In [71]:
cityCode=''
cityPopulation=0
year=1 #2015

with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for row in csvfile:
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"):
            popCount=row[year].strip().split(" ")[0]
            if popCount != ":" and int(popCount)>cityPopulation: # row[1] is the population of 2015
                cityPopulation=int(popCount)
                cityCode=row[0].split(",")[1] # split the indicator by "," and take the second part
print("Biggest city: "+cityCode+" with "+str(cityPopulation)+" citizens")

Biggest city: PT001K1 with 1835785 citizens

Ah cool, finally it works and we have as **PT001K1** the biggest city in 2015 (for which we have population values) 

lets try to convert this city code to a more human readable string (or do you know which city it is?)

In [72]:
#Building the cityCode to Label map
cityCodeMap={}
with open(cityCodeFile) as f:
    csvfile = csv.reader(f)
    for i,row in enumerate(csvfile):
        cityCodeMap[row[3]]= row[1]

In [73]:
#lets convert the city code to the lable
print("Biggest city: "+cityCodeMap[cityCode]+" with "+str(cityPopulation)+" citizens")

Biggest city: Lisboa (greater city) with 1835785 citizens

Better, but somehow strange that Lisboa is the biggest city, maybe this is due to the missing values, lets check for 2014

In [77]:
cityCode=''
cityPopulation=0
year=2 #2014

with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for row in csvfile:
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"):
            popCount=row[year].strip().split(" ")[0]
            if popCount != ":" and int(popCount)>cityPopulation: # row[1] is the population of 2015
                cityPopulation=int(popCount)
                cityCode=row[0].split(",")[1] # split the indicator by "," and take the second part
print("Biggest city: "+cityCodeMap[cityCode]+" with "+str(cityPopulation)+" citizens")

Biggest city: London (greater city) with 8477600 citizens

Ah, ok, looks slightly better, considering that this is eurostats, Lodon might be the biggest city in Europe.

Looks like "Wikipedia" lists Istanbul (14,657,434) and Moscow (12,330,126) as bigger cities in Europe (source: https://en.wikipedia.org/wiki/List_of_European_cities_by_population_within_city_limits) 

**Interesting question would be, are these two cities in the dataset or not? How could you figure this out?**

## What are the (most recent) populations per country?

Hmm, well this is just an adaption of our algorithm to find the biggest city in 2015 (which would be the most recent year). However, if the value for 2015 is missing, we could just take the next most recent value. 

Lets try this.

We start by using a dictionary for which the key is the city and the value is another dictionary with the population number for the most recent year. 

In addition, we might need to loop over the years to find the most recent year with a existing population value.
Considering that we have a list and operate with indices rather than labels, we want to 
* store the first csv row in a field headerRow
* use the headerRow to convert the year index into a Year label

But lets do it step by step

In [87]:
recentCityPopulation={} # key= city , value = {'year': year, 'pop':population}

with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for i, row in enumerate(csvfile):
        if i==0:
            headerRow=row
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"): # same filter conditition as before
            for yearIndex in range (1,27): # this generates all numbers between 1 and 27
                popCount=row[yearIndex].strip().split(" ")[0]
                if popCount != ":" and int(popCount)>0: # check if value exists and we can convert it
                    #ok we have a population value >0, that is hte most recent year, lets store this
                    cityPopulation=int(popCount)
                    cityCode=row[0].split(",")[1]
                    recentCityPopulation[cityCode]={'year':yearIndex,'pop': cityPopulation}
                    
print(recentCityPopulation)

{'FR219C1': {'year': 7, 'pop': '130194'}, 'NL509C1': {'year': 6, 'pop': '121532'}, 'UK524C1': {'year': 15, 'pop': '210160'}, 'PT508C1': {'year': 16, 'pop': '122596'}, 'UK517C1': {'year': 15, 'pop': '223302'}, 'RO005C1': {'year': 25, 'pop': '249662'}, 'DK001C1': {'year': 25, 'pop': '464773'}, 'SE005C1': {'year': 26, 'pop': '90004'}, 'ES515C1': {'year': 15, 'pop': '166187'}, 'PL516C1': {'year': 16, 'pop': '107416'}, 'IT012C1': {'year': 25, 'pop': '255824'}, 'FR051C2': {'year': 7, 'pop': '126477'}, 'PL506C1': {'year': 16, 'pop': '178611'}, 'PT019C1': {'year': 6, 'pop': '63674'}, 'IT004C1': {'year': 25, 'pop': '962507'}, 'UK002K1': {'year': 6, 'pop': '2390000'}, 'DE513C1': {'year': 15, 'pop': '194748'}, 'FR009C1': {'year': 26, 'pop': '1067345'}, 'IT058C1': {'year': 6, 'pop': '51404'}, 'PT501C1': {'year': 16, 'pop': '362976'}, 'RO016C1': {'year': 15, 'pop': '95840'}, 'FR024C2': {'year': 7, 'pop': '199096'}, 'AT003C1': {'year': 25, 'pop': '203044'}, 'RO012C1': {'year': 25, 'pop': '75954'}, 'CH005C1': {'year': 26, 'pop': '128112'}, 'HU009C1': {'year': 15, 'pop': '106346'}, 'UK573C1': {'year': 15, 'pop': '109618'}, 'UK559C1': {'year': 15, 'pop': '134860'}, 'NL001C1': {'year': 26, 'pop': '441506'}, 'FR059C2': {'year': 7, 'pop': '105101'}, 'TR021C1': {'year': 16, 'pop': '67864'}, 'DE018C1': {'year': 24, 'pop': '299884'}, 'UK052C1': {'year': 6, 'pop': '97400'}, 'DE529C1': {'year': 15, 'pop': '120163'}, 'SK002C1': {'year': 26, 'pop': '238454'}, 'RO010C1': {'year': 25, 'pop': '171211'}, 'NL507C1': {'year': 14, 'pop': '117170'}, 'PL024C1': {'year': 16, 'pop': '253133'}, 'PL023C1': {'year': 25, 'pop': '65424'}, 'ES028C1': {'year': 6, 'pop': '106622'}, 'UK047C1': {'year': 6, 'pop': '103200'}, 'RO513C1': {'year': 15, 'pop': '110471'}, 'FR312C1': {'year': 7, 'pop': '89887'}, 'EE001C1': {'year': 26, 'pop': '479666'}, 'ES510C1': {'year': 15, 'pop': '178377'}, 'RO007C1': {'year': 25, 'pop': '199623'}, 'DE002C1': {'year': 24, 'pop': '1688785'}, 'UK054C1': {'year': 6, 'pop': '96700'}, 'FR014C2': {'year': 7, 'pop': '175519'}, 'FR308C1': {'year': 7, 'pop': '115156'}, 'FR018C1': {'year': 26, 'pop': '207393'}, 'IT512C1': {'year': 15, 'pop': '108335'}, 'UK026C1': {'year': 14, 'pop': '249900'}, 'SE505C1': {'year': 8, 'pop': '101487'}, 'LT001C1': {'year': 26, 'pop': '605533'}, 'CH001K1': {'year': 7, 'pop': '592715'}, 'DE078C1': {'year': 12, 'pop': '52869'}, 'FR512C1': {'year': 7, 'pop': '58493'}, 'TR013C1': {'year': 16, 'pop': '2232265'}, 'UK051C1': {'year': 6, 'pop': '96700'}, 'ES002C1': {'year': 26, 'pop': '1707286'}, 'ES534C1': {'year': 15, 'pop': '97887'}, 'SK003C1': {'year': 26, 'pop': '88390'}, 'UK540C1': {'year': 15, 'pop': '162106'}, 'ES019K1': {'year': 6, 'pop': '787084'}, 'IT051C1': {'year': 6, 'pop': '56879'}, 'FR506C1': {'year': 7, 'pop': '95437'}, 'UK121C1': {'year': 6, 'pop': '158000'}, 'RO506C1': {'year': 15, 'pop': '174794'}, 'CZ013C1': {'year': 15, 'pop': '53358'}, 'PL514C1': {'year': 16, 'pop': '120822'}, 'UK021C1': {'year': 25, 'pop': '75700'}, 'TR015C1': {'year': 16, 'pop': '64606'}, 'LV001C1': {'year': 26, 'pop': '909135'}, 'UK015C1': {'year': 26, 'pop': '97255'}, 'BG011C1': {'year': 6, 'pop': '86824'}, 'IT509C1': {'year': 15, 'pop': '123657'}, 'UK133C1': {'year': 6, 'pop': '217100'}, 'ES008C1': {'year': 26, 'pop': '373846'}, 'UK575C1': {'year': 15, 'pop': '100721'}, 'UK118C1': {'year': 6, 'pop': '246300'}, 'NL012C1': {'year': 17, 'pop': '159042'}, 'UK563C1': {'year': 15, 'pop': '128998'}, 'RO008C1': {'year': 25, 'pop': '198844'}, 'DE514C1': {'year': 15, 'pop': '183805'}, 'UK526C1': {'year': 15, 'pop': '205360'}, 'FR208C1': {'year': 26, 'pop': '129039'}, 'RO507C1': {'year': 15, 'pop': '143255'}, 'DE511C1': {'year': 15, 'pop': '202060'}, 'ES506C1': {'year': 15, 'pop': '184686'}, 'IT034C1': {'year': 6, 'pop': '103135'}, 'ES071C1': {'year': 6, 'pop': '59691'}, 'UK029C1': {'year': 14, 'pop': '272200'}, 'DE507C1': {'year': 15, 'pop': '245778'}, 'RO019C1': {'year': 15, 'pop': '81535'}, 'UK055C1': {'year': 6, 'pop': '98400'}, 'ES042C1': {'year': 6, 'pop': '82411'}, 'PL002C1': {'year': 25, 'pop': '854261'}, 'UK521C1': {'year': 15, 'pop': '217262'}, 'DE547C1': {'year': 12, 'pop': '102634'}, 'UK060C1': {'year': 6, 'pop': '76400'}, 'PL014C1': {'year': 25, 'pop': '158865'}, 'UK116C1': {'year': 6, 'pop': '235200'}, 'ES055C1': {'year': 6, 'pop': '76034'}, 'FI005C1': {'year': 8, 'pop': '238047'}, 'BG008C1': {'year': 11, 'pop': '141480'}, 'DE082C1': {'year': 12, 'pop': '94608'}, 'UK525C1': {'year': 15, 'pop': '207060'}, 'FR036C2': {'year': 7, 'pop': '262634'}, 'ES505C1': {'year': 15, 'pop': '194767'}, 'DE052C1': {'year': 12, 'pop': '85300'}, 'FR038C2': {'year': 7, 'pop': '182681'}, 'BE003C1': {'year': 26, 'pop': '230543'}, 'NL022C1': {'year': 6, 'pop': '72160'}, 'NL003K1': {'year': 4, 'pop': '977584'}, 'RO013C1': {'year': 25, 'pop': '71913'}, 'ES033C1': {'year': 6, 'pop': '96236'}, 'PL020C1': {'year': 25, 'pop': '75206'}, 'UK107C1': {'year': 6, 'pop': '213800'}, 'DE064C1': {'year': 12, 'pop': '69157'}, 'DE070C1': {'year': 12, 'pop': '47564'}, 'HR005C1': {'year': 15, 'pop': '188694'}, 'FR061C2': {'year': 7, 'pop': '101532'}, 'FR040C2': {'year': 7, 'pop': '251271'}, 'BE006C1': {'year': 26, 'pop': '117460'}, 'PL507C1': {'year': 16, 'pop': '152280'}, 'UK516C1': {'year': 15, 'pop': '240714'}, 'NL020C1': {'year': 6, 'pop': '77566'}, 'UK554C1': {'year': 15, 'pop': '138945'}, 'UK111C1': {'year': 6, 'pop': '246400'}, 'FR074C2': {'year': 7, 'pop': '70489'}, 'UK533C1': {'year': 15, 'pop': '181096'}, 'UK012C1': {'year': 26, 'pop': '294580'}, 'ES060C1': {'year': 6, 'pop': '71783'}, 'BG014C1': {'year': 6, 'pop': '77050'}, 'ES034C1': {'year': 6, 'pop': '94179'}, 'UK103C1': {'year': 6, 'pop': '348600'}, 'ES054C1': {'year': 6, 'pop': '71198'}, 'ES014C1': {'year': 25, 'pop': '180372'}, 'IT033C1': {'year': 6, 'pop': '102687'}, 'RO018C1': {'year': 15, 'pop': '91297'}, 'UK512C1': {'year': 15, 'pop': '253502'}, 'UK510C1': {'year': 15, 'pop': '280801'}, 'FR322C1': {'year': 7, 'pop': '139954'}, 'DE006C1': {'year': 24, 'pop': '627269'}, 'UK005C1': {'year': 25, 'pop': '468800'}, 'UK062C1': {'year': 6, 'pop': '124200'}, 'SK008C1': {'year': 15, 'pop': '57854'}, 'IT036C1': {'year': 6, 'pop': '95641'}, 'DE506C1': {'year': 15, 'pop': '245516'}, 'FR057C2': {'year': 7, 'pop': '118902'}, 'UK108C1': {'year': 6, 'pop': '355400'}, 'EL002C1': {'year': 25, 'pop': '383967'}, 'NL024C1': {'year': 6, 'pop': '70533'}, 'TR018C1': {'year': 16, 'pop': '742690'}, 'IT002K1': {'year': 6, 'pop': '3154102'}, 'ES507C1': {'year': 15, 'pop': '183788'}, 'IT001C1': {'year': 25, 'pop': '2775250'}, 'UK560C1': {'year': 15, 'pop': '134248'}, 'ES040C1': {'year': 6, 'pop': '88986'}, 'FR022C2': {'year': 7, 'pop': '279385'}, 'BG016C1': {'year': 6, 'pop': '70404'}, 'UK033C1': {'year': 6, 'pop': '134600'}, 'HR003C1': {'year': 15, 'pop': '64612'}, 'CH002C1': {'year': 26, 'pop': '171042'}, 'UK038C1': {'year': 6, 'pop': '115900'}, 'FR012C1': {'year': 26, 'pop': '260189'}, 'PL031C1': {'year': 5, 'pop': '76480'}, 'ES036C1': {'year': 6, 'pop': '82804'}, 'BG002C1': {'year': 24, 'pop': '329972'}, 'ES005C1': {'year': 26, 'pop': '592686'}, 'DE515C1': {'year': 15, 'pop': '174018'}, 'UK520C1': {'year': 15, 'pop': '217450'}, 'HU003C1': {'year': 26, 'pop': '114152'}, 'NO004C1': {'year': 15, 'pop': '108848'}, 'DE047C1': {'year': 12, 'pop': '88897'}, 'DE050C1': {'year': 12, 'pop': '83137'}, 'UK029K1': {'year': 6, 'pop': '630000'}, 'ES519C1': {'year': 15, 'pop': '148934'}, 'PL501C1': {'year': 16, 'pop': '253387'}, 'UK016C1': {'year': 26, 'pop': '212870'}, 'UK552K1': {'year': 6, 'pop': '307700'}, 'ES009C1': {'year': 26, 'pop': '333680'}, 'NL015C1': {'year': 17, 'pop': '88762'}, 'IT513C1': {'year': 15, 'pop': '107898'}, 'FR013C2': {'year': 7, 'pop': '394201'}, 'DE041C1': {'year': 15, 'pop': '140779'}, 'ES520C1': {'year': 15, 'pop': '147667'}, 'CY501C1': {'year': 15, 'pop': '156939'}, 'ES047C1': {'year': 6, 'pop': '88065'}, 'DE037C1': {'year': 26, 'pop': '177062'}, 'TR024C1': {'year': 16, 'pop': '214949'}, 'NL016C1': {'year': 6, 'pop': '95243'}, 'FR324C1': {'year': 7, 'pop': '69181'}, 'ES020C1': {'year': 15, 'pop': '308072'}, 'FR311C1': {'year': 7, 'pop': '125748'}, 'UK514C1': {'year': 15, 'pop': '248190'}, 'IT042C1': {'year': 6, 'pop': '82208'}, 'FR027C1': {'year': 26, 'pop': '67686'}, 'UK003C1': {'year': 25, 'pop': '706700'}, 'CH009K1': {'year': 7, 'pop': '75805'}, 'PL005C1': {'year': 25, 'pop': '587971'}, 'RO509C1': {'year': 15, 'pop': '118975'}, 'FR073C2': {'year': 7, 'pop': '74995'}, 'FR001C1': {'year': 26, 'pop': '2152423'}, 'SE502C1': {'year': 15, 'pop': '122199'}, 'UK004C1': {'year': 26, 'pop': '631140'}, 'NL017C1': {'year': 6, 'pop': '96760'}, 'DE022C1': {'year': 24, 'pop': '176962'}, 'PL013C1': {'year': 25, 'pop': '199527'}, 'PT016C1': {'year': 6, 'pop': '89210'}, 'DE536C1': {'year': 15, 'pop': '111696'}, 'DE542C1': {'year': 15, 'pop': '103717'}, 'ES514C1': {'year': 15, 'pop': '166328'}, 'DE546C1': {'year': 24, 'pop': '388102'}, 'RO501C1': {'year': 15, 'pop': '313598'}, 'FR202C1': {'year': 26, 'pop': '302133'}, 'FR053C1': {'year': 26, 'pop': '125920'}, 'CH002K1': {'year': 16, 'pop': '730773'}, 'FR213C1': {'year': 7, 'pop': '16195'}, 'UK535C1': {'year': 15, 'pop': '180046'}, 'FR030C1': {'year': 26, 'pop': '163969'}, 'ES532C1': {'year': 15, 'pop': '101468'}, 'RO511C1': {'year': 15, 'pop': '112387'}, 'PT010C1': {'year': 6, 'pop': '157571'}, 'TR022C1': {'year': 16, 'pop': '363180'}, 'EE002C1': {'year': 26, 'pop': '114242'}, 'FR021C2': {'year': 7, 'pop': '136022'}, 'PL017C1': {'year': 25, 'pop': '121549'}, 'UK562K1': {'year': 6, 'pop': '247100'}, 'NL010C1': {'year': 26, 'pop': '94046'}, 'PL045C1': {'year': 5, 'pop': '64756'}, 'FI008C2': {'year': 8, 'pop': '94838'}, 'DE069C1': {'year': 12, 'pop': '59988'}, 'UK110C1': {'year': 6, 'pop': '304800'}, 'FI007C1': {'year': 8, 'pop': '99308'}, 'FR062C1': {'year': 26, 'pop': '95646'}, 'TR006C1': {'year': 16, 'pop': '275480'}, 'FR045C2': {'year': 7, 'pop': '148591'}, 'NL026C1': {'year': 6, 'pop': '72534'}, 'ES032C1': {'year': 6, 'pop': '96689'}, 'NL513C1': {'year': 13, 'pop': '87526'}, 'FI002C1': {'year': 25, 'pop': '173797'}, 'BG001C1': {'year': 26, 'pop': '1141142'}, 'FR020C2': {'year': 7, 'pop': '245047'}, 'NL007C1': {'year': 26, 'pop': '167872'}, 'NL027C1': {'year': 6, 'pop': '65345'}, 'FR007C1': {'year': 26, 'pop': '624286'}, 'IT056C1': {'year': 6, 'pop': '52881'}, 'ES061C1': {'year': 6, 'pop': '58407'}, 'TR011C1': {'year': 16, 'pop': '144910'}, 'PL502C1': {'year': 16, 'pop': '234486'}, 'TR020C1': {'year': 16, 'pop': '214345'}, 'ES013C1': {'year': 26, 'pop': '194637'}, 'FR211C1': {'year': 7, 'pop': '182143'}, 'DE054C1': {'year': 12, 'pop': '80716'}, 'DE019C1': {'year': 24, 'pop': '274244'}, 'NL018C1': {'year': 6, 'pop': '84573'}, 'IT502C1': {'year': 15, 'pop': '172499'}, 'PT018C1': {'year': 6, 'pop': '79025'}, 'PL509C1': {'year': 16, 'pop': '133463'}, 'UK013C1': {'year': 25, 'pop': '275000'}, 'PL043C1': {'year': 5, 'pop': '68922'}, 'ES069C1': {'year': 6, 'pop': '62250'}, 'CH003K1': {'year': 7, 'pop': '312127'}, 'UK562C1': {'year': 15, 'pop': '129632'}, 'FR223C1': {'year': 7, 'pop': '45715'}, 'IT014C1': {'year': 25, 'pop': '101545'}, 'DE062C1': {'year': 12, 'pop': '69899'}, 'BG018C1': {'year': 6, 'pop': '61011'}, 'ES012C1': {'year': 26, 'pop': '209506'}, 'DE080C1': {'year': 12, 'pop': '50247'}, 'SE501C1': {'year': 15, 'pop': '126328'}, 'FI009C1': {'year': 8, 'pop': '126546'}, 'PL035C1': {'year': 5, 'pop': '75938'}, 'BG010C1': {'year': 6, 'pop': '92672'}, 'IT506C1': {'year': 15, 'pop': '134631'}, 'DE075C1': {'year': 12, 'pop': '55926'}, 'BE007C1': {'year': 14, 'pop': '105393'}, 'ES030C1': {'year': 6, 'pop': '120182'}, 'PL022C1': {'year': 25, 'pop': '78817'}, 'NL508C1': {'year': 6, 'pop': '142788'}, 'UK102C1': {'year': 6, 'pop': '180200'}, 'FR034C2': {'year': 7, 'pop': '191416'}, 'BE009C1': {'year': 6, 'pop': '91759'}, 'UK549C1': {'year': 15, 'pop': '147908'}, 'CZ003C1': {'year': 26, 'pop': '331219'}, 'ES521C1': {'year': 15, 'pop': '142284'}, 'ES002K1': {'year': 6, 'pop': '3191076'}, 'UK539C1': {'year': 15, 'pop': '163440'}, 'DE501C1': {'year': 15, 'pop': '512030'}, 'RO001C1': {'year': 25, 'pop': '2107080'}, 'UK567C1': {'year': 15, 'pop': '119063'}, 'ES022C1': {'year': 15, 'pop': '280186'}, 'ES075C1': {'year': 6, 'pop': '52459'}, 'ES070C1': {'year': 6, 'pop': '60938'}, 'ES016C1': {'year': 26, 'pop': '60671'}, 'FR003C2': {'year': 7, 'pop': '1282085'}, 'UK027C1': {'year': 14, 'pop': '239500'}, 'PT504C1': {'year': 16, 'pop': '162076'}, 'ES522C1': {'year': 15, 'pop': '133363'}, 'UK511C1': {'year': 15, 'pop': '261024'}, 'UK568C2': {'year': 6, 'pop': '329300'}, 'DK002C1': {'year': 25, 'pop': '264136'}, 'FR216C1': {'year': 7, 'pop': '74791'}, 'UK519C1': {'year': 15, 'pop': '218074'}, 'CZ009C1': {'year': 15, 'pop': '97155'}, 'ES528C1': {'year': 15, 'pop': '112199'}, 'FR306C1': {'year': 7, 'pop': '86735'}, 'UK056C1': {'year': 6, 'pop': '89500'}, 'PT017C1': {'year': 6, 'pop': '86836'}, 'PL028C1': {'year': 16, 'pop': '108899'}, 'IT003C1': {'year': 25, 'pop': '1067365'}, 'ES526C1': {'year': 15, 'pop': '112992'}, 'DE076C1': {'year': 8, 'pop': '52866'}, 'IT049C1': {'year': 6, 'pop': '65588'}, 'DE537C1': {'year': 16, 'pop': '110650'}, 'IT046C1': {'year': 6, 'pop': '71184'}, 'RO022C1': {'year': 3, 'pop': '92448'}, 'HR001C1': {'year': 15, 'pop': '779145'}, 'EL008C1': {'year': 25, 'pop': '60187'}, 'FR210C1': {'year': 7, 'pop': '86284'}, 'DE074C1': {'year': 12, 'pop': '58518'}, 'IT508C1': {'year': 15, 'pop': '128656'}, 'PL515C1': {'year': 16, 'pop': '118708'}, 'ES011C1': {'year': 26, 'pop': '91419'}, 'UK132C1': {'year': 6, 'pop': '301000'}, 'AT006C1': {'year': 3, 'pop': '95450'}, 'ES023C1': {'year': 15, 'pop': '266419'}, 'FR093C2': {'year': 7, 'pop': '78930'}, 'IT060C1': {'year': 6, 'pop': '47791'}, 'ES529C1': {'year': 15, 'pop': '107510'}, 'UK101C1': {'year': 6, 'pop': '7400'}, 'UK501C1': {'year': 15, 'pop': '388562'}, 'UK547C1': {'year': 15, 'pop': '152790'}, 'FR008C1': {'year': 26, 'pop': '505076'}, 'UK040C1': {'year': 6, 'pop': '113400'}, 'DE003C1': {'year': 24, 'pop': '1256638'}, 'DE027C1': {'year': 24, 'pop': '195789'}, 'IT020C1': {'year': 25, 'pop': '50941'}, 'PL015C1': {'year': 25, 'pop': '148560'}, 'PT007C1': {'year': 25, 'pop': '61989'}, 'RO014C1': {'year': 25, 'pop': '73196'}, 'ES057C1': {'year': 6, 'pop': '68767'}, 'PL038C1': {'year': 5, 'pop': '69771'}, 'HU010C1': {'year': 6, 'pop': '79438'}, 'IT050C1': {'year': 6, 'pop': '62219'}, 'IT048C1': {'year': 6, 'pop': '69717'}, 'IT022C1': {'year': 25, 'pop': '232334'}, 'SE002C1': {'year': 26, 'pop': '431840'}, 'DE516C1': {'year': 15, 'pop': '165032'}, 'UK008C1': {'year': 25, 'pop': '432700'}, 'DE059C1': {'year': 12, 'pop': '74818'}, 'NL008C1': {'year': 26, 'pop': '146010'}, 'DE518C1': {'year': 15, 'pop': '162458'}, 'PL051C1': {'year': 5, 'pop': '60809'}, 'FR076C2': {'year': 7, 'pop': '94848'}, 'CH003C1': {'year': 26, 'pop': '178428'}, 'DE026C1': {'year': 24, 'pop': '98958'}, 'UK113C1': {'year': 6, 'pop': '180500'}, 'UK502C1': {'year': 12, 'pop': '322800'}, 'DE533C1': {'year': 15, 'pop': '118002'}, 'NL002K1': {'year': 4, 'pop': '1021754'}, 'FR201C1': {'year': 26, 'pop': '66707'}, 'IT045C1': {'year': 6, 'pop': '75910'}, 'BG005C1': {'year': 26, 'pop': '138323'}, 'UK006C1': {'year': 25, 'pop': '475600'}, 'NL002C1': {'year': 26, 'pop': '695162'}, 'UK018C1': {'year': 25, 'pop': '104800'}, 'PL504C1': {'year': 16, 'pop': '197111'}, 'FR016C1': {'year': 26, 'pop': '256371'}, 'ES535C1': {'year': 15, 'pop': '92090'}, 'UK537C1': {'year': 15, 'pop': '176848'}, 'LV002C1': {'year': 26, 'pop': '114337'}, 'PL039C1': {'year': 5, 'pop': '72907'}, 'NL511C1': {'year': 14, 'pop': '109000'}, 'DE009C1': {'year': 24, 'pop': '502900'}, 'UK010C1': {'year': 25, 'pop': '520100'}, 'FR037C1': {'year': 26, 'pop': '208265'}, 'NL028C1': {'year': 6, 'pop': '65845'}, 'FR220C1': {'year': 7, 'pop': '57490'}, 'DE523C1': {'year': 15, 'pop': '140869'}, 'UK534C1': {'year': 15, 'pop': '180604'}, 'UK544C1': {'year': 15, 'pop': '157060'}, 'FR209C2': {'year': 7, 'pop': '152270'}, 'FR001K1': {'year': 17, 'pop': '6164418'}, 'PL041C1': {'year': 5, 'pop': '65784'}, 'BE004C1': {'year': 26, 'pop': '206779'}, 'FR046C2': {'year': 7, 'pop': '121724'}, 'FR032C2': {'year': 7, 'pop': '424336'}, 'BG017C1': {'year': 6, 'pop': '67099'}, 'NL006C1': {'year': 26, 'pop': '156421'}, 'IT017C1': {'year': 25, 'pop': '101285'}, 'FR086C2': {'year': 7, 'pop': '82025'}, 'PL034C1': {'year': 5, 'pop': '74818'}, 'PL032C1': {'year': 5, 'pop': '76505'}, 'PL036C1': {'year': 5, 'pop': '73300'}, 'FR044C2': {'year': 7, 'pop': '230961'}, 'IT006C1': {'year': 25, 'pop': '678771'}, 'PT001K1': {'year': 16, 'pop': '1799346'}, 'LV003C1': {'year': 6, 'pop': '60923'}, 'UK105C1': {'year': 6, 'pop': '301500'}, 'IT037C1': {'year': 6, 'pop': '94949'}, 'PL512C1': {'year': 16, 'pop': '128305'}, 'DE012C1': {'year': 24, 'pop': '554377'}, 'IE005C1': {'year': 20, 'pop': '39997'}, 'IT505C1': {'year': 15, 'pop': '141877'}, 'FR043C2': {'year': 7, 'pop': '252044'}, 'FR222C1': {'year': 7, 'pop': '83923'}, 'UK569C1': {'year': 15, 'pop': '117061'}, 'ES056C1': {'year': 6, 'pop': '64077'}, 'IT030C1': {'year': 24, 'pop': '176906'}, 'SE001K1': {'year': 16, 'pop': '1370815'}, 'DE528C1': {'year': 15, 'pop': '120780'}, 'PL033C1': {'year': 5, 'pop': '75147'}, 'UK022C1': {'year': 25, 'pop': '124200'}, 'DE066C1': {'year': 12, 'pop': '61504'}, 'DE004C1': {'year': 24, 'pop': '960631'}, 'UK036C1': {'year': 6, 'pop': '111100'}, 'FR505C1': {'year': 7, 'pop': '67712'}, 'DE055C1': {'year': 12, 'pop': '78951'}, 'NL011C1': {'year': 17, 'pop': '136157'}, 'SK001C1': {'year': 26, 'pop': '444660'}, 'PL003C1': {'year': 25, 'pop': '746627'}, 'DE040C1': {'year': 15, 'pop': '182858'}, 'ES067C1': {'year': 6, 'pop': '69439'}, 'IT016C1': {'year': 25, 'pop': '144732'}, 'TR014C1': {'year': 16, 'pop': '78473'}, 'PL046C1': {'year': 5, 'pop': '65834'}, 'UK020C1': {'year': 25, 'pop': '93300'}, 'SE004C1': {'year': 26, 'pop': '110860'}, 'RO504C1': {'year': 15, 'pop': '287794'}, 'DE502C1': {'year': 15, 'pop': '308385'}, 'IT057C1': {'year': 6, 'pop': '56512'}, 'FR082C2': {'year': 7, 'pop': '79221'}, 'ES062C1': {'year': 6, 'pop': '66541'}, 'IT047C1': {'year': 6, 'pop': '70818'}, 'IT059C1': {'year': 6, 'pop': '45845'}, 'NL032C1': {'year': 6, 'pop': '47997'}, 'ES035C1': {'year': 6, 'pop': '101091'}, 'CZ001C1': {'year': 26, 'pop': '1214885'}, 'DE032C1': {'year': 24, 'pop': '218770'}, 'FR212C1': {'year': 7, 'pop': '169184'}, 'DE073C1': {'year': 12, 'pop': '58888'}, 'ES051C1': {'year': 6, 'pop': '80277'}, 'UK513C1': {'year': 15, 'pop': '249488'}, 'RO508C1': {'year': 15, 'pop': '139167'}, 'RO004C1': {'year': 25, 'pop': '306504'}, 'NL506C1': {'year': 14, 'pop': '120222'}, 'IT501C1': {'year': 15, 'pop': '252026'}, 'DE534C1': {'year': 15, 'pop': '117311'}, 'PL037C1': {'year': 5, 'pop': '70263'}, 'NL004C1': {'year': 26, 'pop': '230358'}, 'IT511C1': {'year': 15, 'pop': '113143'}, 'SK004C1': {'year': 26, 'pop': '91930'}, 'ES058C1': {'year': 6, 'pop': '78157'}, 'UK007C1': {'year': 26, 'pop': '436140'}, 'DK004C2': {'year': 25, 'pop': '155664'}, 'FR064C2': {'year': 7, 'pop': '92359'}, 'UK104C1': {'year': 6, 'pop': '229400'}, 'FR504C1': {'year': 7, 'pop': '190427'}, 'CZ005C1': {'year': 26, 'pop': '106463'}, 'UK503C1': {'year': 15, 'pop': '315166'}, 'DE508C1': {'year': 15, 'pop': '239559'}, 'CZ006C1': {'year': 15, 'pop': '102607'}, 'PL511C1': {'year': 16, 'pop': '131675'}, 'NL009C1': {'year': 26, 'pop': '130220'}, 'UK023C1': {'year': 25, 'pop': '186800'}, 'NL005C1': {'year': 26, 'pop': '191467'}, 'UK561C1': {'year': 15, 'pop': '129706'}, 'SK005C1': {'year': 15, 'pop': '92786'}, 'UK543C1': {'year': 15, 'pop': '157974'}, 'DE023C1': {'year': 24, 'pop': '106384'}, 'NL514C1': {'year': 13, 'pop': '93390'}, 'PL513C1': {'year': 16, 'pop': '121833'}, 'DE072C1': {'year': 12, 'pop': '58041'}, 'UK536C1': {'year': 15, 'pop': '178417'}, 'UK509C1': {'year': 15, 'pop': '282909'}, 'ES041C1': {'year': 6, 'pop': '82169'}, 'NL502C1': {'year': 14, 'pop': '137669'}, 'PT006C1': {'year': 25, 'pop': '103634'}, 'DE031C1': {'year': 24, 'pop': '124084'}, 'ES048C1': {'year': 6, 'pop': '83789'}, 'ES046C1': {'year': 6, 'pop': '79430'

Ok, looks "goodish" but hard to read for a human and i do not want to present the values like that. Lets fix it. 
We can conver the cityCode to City labels and replace the yearIndices with their column headers

In [114]:
recentCityPopulation={} # key= city , value = {'year': year, 'pop':population}



## a quick trick to be able to convert the yearIndex to its label
headerRow=[]
with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for i, row in enumerate(csvfile):
        if i==0:
            headerRow=row
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"): # same filter conditition as before
            for yearIndex in range (1,27): # this generates all numbers between 1 and 27
                popCount=row[yearIndex].strip().split(" ")[0]
                if popCount != ":" and int(popCount)>0: # check if value exists and we can convert it
                    #ok we have a population value >0, that is hte most recent year, lets store this
                    cityPopulation=int(popCount)
                    cityCode=row[0].split(",")[1]
                    cityLabel=cityCodeMap[cityCode] # lets just merge the mapping from city code to label in this code
                    recentCityPopulation[cityLabel]={'year':headerRow[yearIndex],'pop': cityPopulation} # we also convert hte year index to the year label
                    break
## lets fix also the printing 
print("Number of cities: "+str(len(recentCityPopulation.keys())))
for city, pop in recentCityPopulation.items():
    print("  "+city+":"+str(pop['pop'])+" in "+str(pop['year']))

Number of cities: 975
  Liverpool:471900 in 2014
  Guadalajara:83720 in 2014
  Stoke-on-trent:250600 in 2014
  Reims:210177 in 2013
  Roosendaal:77155 in 2013
  Versailles:182105 in 2013
  Troms:70358 in 2013
  Frankenthal (Pfalz):47332 in 2014
  Trabzon:230618 in 2004
  Tilburg:208527 in 2013
  Alcobendas:112188 in 2014
  Ede:109823 in 2013
  Vitoria/Gasteiz:242082 in 2014
  Douai:150935 in 2013
  Tarbes:73340 in 2013
  Trier:107233 in 2014
  CC des Coteaux de la Seine:37060 in 2013
  Nitra:78033 in 2014
  Verona:259966 in 2014
  Enfield:322500 in 2014
  Bansk Bystrica:79027 in 2014
  Wolfsburg:122457 in 2014
  Almada:170139 in 2015
  Charleroi:203640 in 2014
  Cartagena:216451 in 2014
  Bristol:440000 in 2014
  Lbeck:212958 in 2014
  Jnkping:128305 in 2011
  Bielefeld:328864 in 2014
  Koszalin:109170 in 2013
  Barreiro:76775 in 2015
  Palencia:80178 in 2014
  Jelgava:57332 in 2014
  Lubin:74053 in 2013
  Milton Keynes:257500 in 2014
  Pisa:88627 in 2014
  Gieen:77733 in 2014
  Lyon:1333618 in 2013
  Trgu Mures:151129 in 2014
  Karvin:55985 in 2014
  Novara:104736 in 2014
  Alcorcn:170336 in 2014
  Vila Franca de Xira:139918 in 2015
  Meaux:89045 in 2013
  Kalamata:62409 in 2011
  Worcester:100600 in 2014
  Saint-Nazaire:120497 in 2013
  Manisa:234156 in 2004
  Kirklees:429600 in 2014
  Burnley:87100 in 2014
  Haskovo:74826 in 2014
  Albacete:172487 in 2014
  Konin:77224 in 2013
  Rijeka:124838 in 2014
  Arad:179716 in 2014
  Kavala:58790 in 2011
  Baia Mare:148429 in 2014
  Gijn:275735 in 2014
  Tychy:128799 in 2013
  Nuneaton and Bedworth:126100 in 2014
  Thurrock:162100 in 2014
  Lausanne:132788 in 2014
  Monza:123151 in 2014
  Bytom:173439 in 2013
  Reggio di Calabria:184937 in 2014
  st nad Labem:93409 in 2014
  Uppsala:200001 in 2011
  Stuttgart:604297 in 2014
  Augsburg:276542 in 2014
  Halle an der Saale:231565 in 2014
  Lecco:48131 in 2014
  Bamberg:71167 in 2014
  Reading (greater city):318500 in 2014
  Cluj-Napoca:321427 in 2014
  Palermo:678492 in 2014
  Telford and Wrekin:168900 in 2014
  Woking:99500 in 2014
  Aubagne:103477 in 2013
  Liberec:102562 in 2014
  Majadahonda:70359 in 2014
  Passau:49454 in 2014
  Modena:184525 in 2014
  Chalon-sur-Sane:106018 in 2013
  Stockton-on-Tees:193700 in 2014
  Chelmsford:170900 in 2014
  Wolverhampton:252300 in 2014
  Solihull:209400 in 2014
  Kaunas:304012 in 2014
  Konya:829636 in 2004
  Tomaszw Mazowiecki:64893 in 2013
  Siracusa:122304 in 2014
  Yambol:72159 in 2014
  Las Palmas:382283 in 2014
  Ume:116465 in 2011
  Berlin:3421829 in 2014
  Taranto:203257 in 2014
  Walbrzych:117926 in 2013
  Almera:193351 in 2014
  Newham:321300 in 2014
  Neuss:152252 in 2014
  Blagoevgrad:70583 in 2014
  Oradea:223317 in 2014
  Gondomar:166841 in 2015
  Antalya:689665 in 2004
  Siirt:109271 in 2004
  Middelburg:47523 in 2013
  Helsinki / Helsingfors:612664 in 2014
  Harlow:84000 in 2014
  Guildford:142000 in 2014
  Porto:218231 in 2015
  Brlad:73580 in 2014
  Tallinn:411063 in 2014
  Setbal:118166 in 2015
  Warrington:205800 in 2014
  Cremona:71184 in 2014
  Frankfurt am Main:701350 in 2014
  Viladecans:65358 in 2014
  Pernik:77382 in 2014
  Prato:191268 in 2014
  Wuppertal:343488 in 2014
  Mlheim a.d.Ruhr:166640 in 2014
  Rennes:414186 in 2013
  Norrkping:128060 in 2008
  Logroo:151962 in 2014
  Thanet:137600 in 2014
  Montbliard:116166 in 2013
  Lleida:139176 in 2014
  Sant Boi de Llobregat:83107 in 2014
  Oldham:228000 in 2014
  Ealing:342300 in 2014
  Lisburn:122800 in 2014
  Kladno:68552 in 2014
  Mnster:299708 in 2014
  Bziers:113785 in 2013
  L'Hospitalet de Llobregat:253518 in 2014
  Nowy Sacz:83943 in 2013
  Vratsa:57771 in 2014
  Rostock:203431 in 2014
  Hagen:185996 in 2014
  Amadora:175952 in 2015
  St. Helens:176700 in 2014
  Offenbach am Main:119203 in 2014
  Suwalki:69317 in 2013
  Paris:2229870 in 2013
  Pontevedra:82946 in 2014
  Wiesbaden:273871 in 2014
  Pabianice:67688 in 2013
  Lausanne (greater city):224379 in 2014
  Valongo:95087 in 2015
  Cork:118713 in 2011
  Lisboa:509312 in 2015
  Sibiu:169820 in 2014
  Zrich (greater city):613646 in 2014
  Lomza:62711 in 2013
  Swansea:240800 in 2014
  Murcia:439712 in 2014
  Bari:322751 in 2014
  Medway:272600 in 2014
  Plock:122815 in 2013
  Irun:61195 in 2014
  Ponferrada:67367 in 2014
  Mnchengladbach:255430 in 2014
  Kensington and Chelsea:155900 in 2014
  Zabrze:178357 in 2013
  Rotterdam:616294 in 2013
  Swidnica:59182 in 2013
  Kbenhavn:559440 in 2013
  Santiago de Compostela:95800 in 2014
  Bielsko-Biala:173699 in 2013
  Ipswich:134800 in 2014
  Dsseldorf:598686 in 2014
  Nrnberg:498876 in 2014
  Eastbourne:101000 in 2014
  Ostrw Wielkopolski:72890 in 2013
  Frjus:87031 in 2013
  Vigo:294997 in 2014
  Nottingham:312600 in 2014
  Hastings:90900 in 2014
  Manchester:517300 in 2014
  Athina (greater city):2622404 in 2013
  Ingolstadt:129136 in 2014
  Legans:186696 in 2014
  Slough:143800 in 2014
  Paredes:86668 in 2015
  Ludwigshafen am Rhein:161518 in 2014
  Witten:95629 in 2014
  Pescara:121325 in 2014
  Northampton:218100 in 2014
  Redbridge:290700 in 2014
  Palma de Mallorca:399093 in 2014
  Vantaa / Vanda:208098 in 2014
  Utrecht:321916 in 2013
  Coslada:88847 in 2014
  Ponta Delgada:68517 in 2015
  Cannock Chase:98300 in 2014
  Mons:95357 in 2014
  Edirne:123089 in 2004
  Newcastle-under-Lyme:125600 in 2014
  Tamworth:77100 in 2014
  Pforzheim:117754 in 2014
  Iserlohn:93119 in 2014
  Debrecen:203914 in 2014
  Rozas de Madrid, Las:92784 in 2014
  Guimares:155508 in 2015
  East Staffordshire:115300 in 2014
  Zamosc:65255 in 2013
  Hounslow:264000 in 2014
  Lille:1128828 in 2013
  Amiens:175387 in 2013
  Neu-Ulm:54969 in 2014
  Saint-Quentin en Yvelines:144929 in 2013
  Belfort:96300 in 2013
  Elblag:122899 in 2013
  Suceava:116082 in 2014
  Almelo:72729 in 2013
  Fuenlabrada:195864 in 2014
  Osijek:106345 in 2014
  Oldenburg (Oldenburg):159610 in 2014
  Almere:195213 in 2013
  Lugo:98560 in 2014
  Malatya:420920 in 2004
  Heidelberg:152113 in 2014
  Lnea de la Concepcin, La:63132 in 2014
  Darlington:105400 in 2014
  Caserta:77099 in 2014
  Czestochowa:232318 in 2013
  Chesterfield:104200 in 2014
  Rzeszw:183108 in 2013
  Wilhelmshaven:75728 in 2014
  Leiden:118748 in 2013
  Salerno:133885 in 2014
  Chelm:65481 in 2013
  Speyer:49740 in 2014
  Oxford:156400 in 2014
  Gniezno:69883 in 2013
  Tarragona:132199 in 2014
  Dijon:247164 in 2013
  Jena:107679 in 2014
  Dobrich:88807 in 2014
  Forl:118359 in 2014
  San Fernando:96335 in 2014
  Milano:1324169 in 2014
  CA Snart - Val de Seine:83408 in 2013
  Daugavpils:87403 in 2014
  Gliwice:185450 in 2013
  Deventer:98581 in 2013
  Marne la Valle:87705 in 2013
  Sassari:127715 in 2014
  Recklinghausen:115320 in 2014
  Madrid:3165235 in 2014
  Dresden:530754 in 2014
  Pamplona/Irua:196166 in 2014
  Mstoles:205712 in 2014
  Karlovy Vary:49781 in 2014
  Gravesham:104500 in 2014
  Lens - Livin:241629 in 2013
  Terrassa:215517 in 2014
  Zonguldak:96504 in 2004
  Offenburg:57448 in 2014
  Bochum:361734 in 2014
  Castelldefels:63255 in 2014
  Odense:193370 in 2013
  Clermont-Ferrand:283635 in 2013
  Napoli:989111 in 2014
  Gateshead:200300 in 2014
  Vannes:135807 in 2013
  Swindon:214900 in 2014
  Erlangen:105624 in 2014
  Coimbra:135592 in 2015
  Kars:76420 in 2004
  Freiburg im Breisgau:220286 in 2014
  Tbingen:85383 in 2014
  CC de la Boucle de la Seine:170904 in 2013
  Kingston upon Thames:168400 in 2014
  Ankara:3401573 in 2004
  Winterthur:105676 in 2014
  Leeds:763900 in 2014
  Zwickau:91564 in 2014
  Badalona:217210 in 2014
  CA des Lacs de l'Essonne:58848 in 2013
  Tulcea:90503 in 2014
  Elda:53540 in 2014
  Sintra:380934 in 2015
  Siedlce:76347 in 2013
  Slavonski Brod:57764 in 2014
  Leicester:335700 in 2014
  Lugano (greater city):82453 in 2014
  Jelenia Gra:81985 in 2013
  Ceuta:84963 in 2014
  CA le Parisis:92702 in 2013
  Zgierz:57503 in 2013
  Brasov:291363 in 2014
  Samsun:379933 in 2004
  Gorzw Wielkopolski:124344 in 2013
  Zwolle:122562 in 2013
  Focsani:95127 in 2014
  Cherbourg:81003 in 2013
  Oostende:70681 in 2014
  Como:84834 in 2014
  Plzen:169033 in 2014
  Gouda:70904 in 2013
  Van:336700 in 2004
  Wrzburg:124698 in 2014
  CA des deux Rives de la Seine:65196 in 2013
  Hyndburn:80100 in 2014
  Giurgiu:69674 in 2014
  Enschede:158627 in 2013
  Galati:306046 in 2014
  Haarlemmermeer:144153 in 2013
  Snart en Essonne:18855 in 2013
  Marseille:1049857 in 2013
  Genve:191557 in 2014
  Cosenza:67910 in 2014
  Redditch:84500 in 2014
  Slatina:85074 in 2014
  Bayreuth:71572 in 2014
  Alkmaar:94505 in 2013
  Turku / bo:182072 in 2014
  Schwerin:91583 in 2014
  Heerlen:88747 in 2013
  Compigne:70396 in 2013
  Ulm:119218 in 2014
  Kempten (Allgu):65044 in 2014
  Cheltenham:116200 in 2014
  Nancy:254030 in 2013
  Poitiers:135730 in 2013
  Stalowa Wola:63692 in 2013
  Westminster:230100 in 2014
  Grudziadz:97676 in 2013
  Albi:81334 in 2013
  Telde:102076 in 2014
  Viana do Castelo:86620 in 2015
  San Cristbal de la Laguna:153009 in 2014
  Helsinki / Helsingfors (greater city):1090616 in 2014
  Zilina:81155 in 2014
  Dudley:315100 in 2014
  Santa Cruz de Tenerife:205279 in 2014
  Valletta:205768 in 2015
  Bergen op Zoom:66287 in 2013
  Volos:86046 in 2011
  Gyr:128902 in 2014
  Sabadell:207444 in 2014
  Pardubice:89693 in 2014
  Poole:149600 in 2014
  Elk:59790 in 2013
  Torremolinos:67353 in 2014
  Kocaeli:191471 in 2004
  Annecy:142933 in 2013
  Toledo:83334 in 2014
  Milano (greater city):3207006 in 2014
  Santa Luca de Tirajana:68544 in 2014
  Derry:108900 in 2014
  Larisa:146926 in 2011
  Innsbruck:122458 in 2013
  West Midlands urban area:2462300 in 2014
  Genova:596958 in 2014
  Przemysl:63638 in 2013
  Linkping:147334 in 2011
  Gera:94977 in 2014
  Flensburg:83971 in 2014
  Barking and Dagenham:196300 in 2014
  Waveney:115900 in 2014
  Waterford:46583 in 2011
  Arnhem:149827 in 2013
  Caen:217219 in 2013
  Limerick:56980 in 2011
  Karlsruhe:299103 in 2014
  Gttingen:116891 in 2014
  Zaragoza:666058 in 2014
  Lemesos:185100 in 2009
  Mlaga:566913 in 2014
  Limoges:197643 in 2013
  Busto Arsizio:81744 in 2014
  Bremerhaven:108844 in 2014
  Piotrkw Trybunalski:75903 in 2013
  Essen:569884 in 2014
  Ptra:170896 in 2011
  Matosinhos:174045 in 2015
  Inowroclaw:75001 in 2013
  Viareggio:63447 in 2014
  South Tyneside:148600 in 2014
  Richmond upon Thames:192500 in 2014
  Lelystad:75778 in 2013
  Gelsenkirchen:257850 in 2014
  Zory:62038 in 2013
  Ancona:101742 in 2014
  Arras:92618 in 2013
  Charleville-Mzires:67300 in 2013
  Barcelona:1602386 in 2014
  Bedford:162700 in 2014
  Hamburg:1746342 in 2014
  Hatay:149919 in 2004
  Landshut:66179 in 2014
  Portsmouth:208300 in 2014
  Sheffield:561900 in 2014
  Dundee City:148200 in 2014
  Stockholm:864324 in 2011
  Mantes en Yvelines:91988 in 2013
  Orlans:276686 in 2013
  Carlisle:108000 in 2014
  Biel/Bienne:53031 in 2014
  Irakleio:151324 in 2011
  Lige:382637 in 2014
  Solingen:155768 in 2014
  Vilanova i la Geltr:65941 in 2014
  Krakw:758992 in 2013
  Kecskemt:112071 in 2014
  Plymouth:260400 in 2014
  Spijkenisse:72375 in 2013
  Wrexham:136600 in 2014
  rhus:319094 in 2013
  Thessaloniki:315196 in 2011
  Linz:191501 in 2013
  Rouen:488826 in 2013
  Bern (greater city):217804 in 2014
  CA de la Valle de Montmorency:109425 in 2013
  Oviedo:223765 in 2014
  Helmond:89023 in 2013
  Rosenheim:60464 in 2014
  Blackpool:141000 in 2014
  Nantes:609199 in 2013
  Portsmouth (greater city):528000 in 2014
  Cornell de Llobregat:86234 in 2014
  CA Val de France:140742 in 2013
  Gdynia:248042 in 2013
  Botosani:122999 in 2014
  Belfast:282500 in 2014
  Luzern (greater city):157412 in 2014
  Tower Hamlets:278500 in 2014
  Maidstone:160600 in 2014
  Osnabrck:156315 in 2014
  Varna:335819 in 2014
  Krefeld:222058 in 2014
  Szczecin:408172 in 2013
  Maastricht:121819 in 2013
  Szombathely:77566 in 2014
  Vigevano:63268 in 2014
  Roman:71254 in 2014
  Avils:81659 in 2014
  Aalborg:203448 in 2013
  Parma:187938 in 2014
  Newport:146700 in 2014
  Split:175353 in 2014
  Basildon:179400 in 2014
  Tameside:220700 in 2014
  Sliven:89723 in 2014
  Alytus:56357 in 2014
  Neubrandenburg:63437 in 2014
  Bolton:280200 in 2014
  Barnet:372000 in 2014
  Oslo:623966 in 2013
  Wloclawek:114885 in 2013
  Lublin:343598 in 2013
  Praha:1259079 in 2014
  Zln:75112 in 2014
  Kielce:199870 in 2013
  CA Val et Fort:85604 in 2013
  Alphen aan den Rijn:72913 in 2013
  Mulhouse:255337 in 2013
  Salzgitter:98197 in 2014
  Seixal:163737 in 2015
  Sittard-Geleen:94024 in 2013
  Buzau:136773 in 2014
  Roanne:68140 in 2013
  Southend-on-Sea:176900 in 2014
  Kaiserslautern:97162 in 2014
  Bayonne:126064 in 2013
  Tarnw:112120 in 2013
  Rybnik:140173 in 2013
  Chambry:125481 in 2013
  Ruda Slaska:141521 in 2013
  Glasgow:598100 in 2014
  Cagliari:154019 in 2014
  Lewisham:289100 in 2014
  Peterborough:189400 in 2014
  Paris (greater city):6728051 in 2013
  Legnica:101992 in 2013
  Tyneside conurbation:839700 in 2014
  Manresa:75297 in 2014
  Luzern:80501 in 2014
  Padova:209678 in 2014
  Catania:315576 in 2014
  Nijmegen:166382 in 2013
  Bilbao:346574 in 2014
  Tampere / Tammerfors:220446 in 2014
  Greater Manchester:2723900 in 2014
  Bursa:1336111 in 2004
  Napoli (greater city):3176107 in 2014
  Leszno:64589 in 2013
  Bourges:97435 in 2013
  Maribor:112088 in 2014
  Campobasso:49392 in 2014
  Annemasse:86540 in 2013
  Mollet del Valls:51719 in 2014
  Kortrijk:75604 in 2014
  Asti:76135 in 2014
  St Albans:144000 in 2014
  Gent:251984 in 2014
  Matar:124280 in 2014
  Moers:103108 in 2014
  Slupsk:93936 in 2013
  Izmir:2386759 in 2004
  Bath and North East Somerset:181100 in 2014
  Granollers:59930 in 2014
  Viseu:98093 in 2015
  Trento:117285 in 2014
  Espoo / Esbo:260753 in 2014
  CA Marne et Chantereine:77587 in 2013
  Mnchen:1407836 in 2014
  Rochdale:212500 in 2014
  Lund:107351 in 2008
  Torino:902137 in 2014
  Lisboa (greater city):1835785 in 2015
  Ioannina:80371 in 2011
  Delft:99097 in 2013
  Saint-Quentin:72493 in 2013
  Trieste:204849 in 2014
  Gteborg:520374 in 2011
  Rimini:146856 in 2014
  Oulu:193798 in 2014
  Brugge:117886 in 2014
  Trgoviste:94240 in 2014
  Barcelona (greater city):3176357 in 2014
  Greenwich:266300 in 2014
  Calais:95662 in 2013
  Purmerend:79482 in 2013
  Bolzano:105713 in 2014
  Riga:643368 in 2014
  Timisoara:333825 in 2014
  Aachen:241683 in 2014
  Pordenone:51758 in 2014
  Bordeaux:742115 in 2013
  Halton:126200 in 2014
  Bradford:527300 in 2014
  Panevezys:96328 in 2014
  rebro:137121 in 2011
  Ploiesti:235041 in 2014
  Celle:68508 in 2014
  Wetzlar:51135 in 2014
  Klagenfurt:95450 in 2013
  Wroclaw:632067 in 2013
  Puerto de Santa Mara, El:88700 in 2014
  Wigan:320300 in 2014
  Santa Coloma de Gramenet:118738 in 2014
  Havrov:75049 in 2014
  's-Gravenhage:505856 in 2013
  North Lanarkshire:337800 in 2014
  Derby:251900 in 2014
  Hradec Krlov:92808 in 2014
  Brent:319000 in 2014
  Stara Zagora:137834 in 2014
  Pozuelo de Alarcn:84360 in 2014
  Trencn:55857 in 2014
  Sefton:273400 in 2014
  Bologna:384202 in 2014
  Tartu:98449 in 2014
  Leicester (greater city):487200 in 2014
  Constanta:319266 in 2014
  Leverkusen:160819 in 2014
  Hamm:176048 in 2014
  Basel:167386 in 2014
  Aveiro:76935 in 2015
  Wien:1741246 in 2013
  Athina:664046 in 2011
  Reggio nell'Emilia:172525 in 2014
  Greifswald:56445 in 2014
  Narva:59049 in 2014
  Preston (greater city):249400 in 2014
  Chorzw:110761 in 2013
  CA du Val d'Orge:131450 in 2013
  Ravenna:158784 in 2014
  Leuven:98591 in 2014
  Torrevieja:91415 in 2014
  Hackney:260300 in 2014
  Amsterdam:799278 in 2013
  Torbay:132500 in 2014
  CA Europ' Essonne:139260 in 2013
  Bexley:238300 in 2014
  Craiova:307193 in 2014
  Stralsund:57301 in 2014
  Graz:265778 in 2013
  Ajaccio:82327 in 2013
  Dos Hermanas:130369 in 2014
  Iasi:357868 in 2014
  Potsdam:161468 in 2014
  Vila Nova de Gaia:301819 in 2015
  Creil:72257 in 2013
  Boulogne-sur-Mer:117234 in 2013
  Sutton:197000 in 2014
  Weimar:63315 in 2014
  Villingen-Schwenningen:81128 in 2014
  Saint Denis:197245 in 2013
  Jerez de la Frontera:212226 in 2014
  Istanbul:9897599 in 2004
  Diyarbakir:609465 in 2004
  Kalisz:103997 in 2013
  Jan:115837 in 2014
  Aschaffenburg:67844 in 2014
  Salamanca:148042 in 2014
  Burgos:177776 in 2014
  Dublin:516255 in 2011
  Hengelo:80952 in 2013
  Bremen:548547 in 2014
  Reading:160000 in 2014
  Kastamonu:67102 in 2004
  Leipzig:531562 in 2014
  Apeldoorn:157315 in 2013
  Regensburg:140276 in 2014
  Havering:244000 in 2014
  Dortmund:575944 in 2014
  Brno:377440 in 2014
  Stockport:285900 in 2014
  Hartlepool:92600 in 2014
  Foggia:153143 in 2014
  Konstanz:81141 in 2014
  Zoetermeer:123092 in 2013
  Basel (greater city):314852 in 2014
  Bergen:267950 in 2013
  Rub:74353 in 2014
  Vicenza:113655 in 2014
  Perpignan:261939 in 2013
  Fort-de-France:160980 in 2013
  Carrara:64234 in 2014
  Dublin (greater city):1263035 in 2013
  Bern:128848 in 2014
  Eindhoven:218433 in 2013
  Szkesfehrvr:99060 in 2014
  Greater Nottingham:652500 in 2014
  La Spezia:94535 in 2014
  Stargard Szczecinski:69328 in 2013
  Worthing:106500 in 2014
  Miskolc:161265 in 2014
  Ashford:122500 in 2014
  Algeciras:117974 in 2014
  Lahti / Lahtis:103364 in 2014
  Zagreb:793049 in 2014
  Southampton:243700 in 2014
  Fareham:114000 in 2014
  Pleven:103122 in 2014
  Valenciennes:190436 in 2013
  Potenza:67403 in 2014
  Prat de Llobregat, El:62866 in 2014
  Piatra Neamt:116355 in 2014
  Southend-on-Sea (greater city):265600 in 2014
  Oberhausen:209097 in 2014
  Most:67089 in 2014
  Quimper:87421 in 2013
  Chlons-en-Champagne:63606 in 2013
  Kuopio:110113 in 2014
  Magdeburg:231021 in 2014
  Wakefield:330500 in 2014
  Tours:281151 in 2013
  Cerdanyola del Valls:57402 in 2014
  CA les Portes de l'Essonne:52908 in 2013
  Trafford:231300 in 2014
  Dordrecht:118466 in 2013
  Chomutov-Jirkov:68842 in 2014
  Paderborn:143659 in 2014
  Crdoba:328041 in 2014
  Gdansk:461531 in 2013
  Parla:125323 in 2014
  Camden:232300 in 2014
  Avignon:177830 in 2013
  Hannover:518386 in 2014
  Sanremo:55498 in 2014
  Merton:203400 in 2014
  CA Brie Francilienne:60396 in 2013
  Chartres:110582 in 2013
  Falkirk:157400 in 2014
  Avellino:55448 in 2014
  Haringey:265500 in 2014
  Cergy-Pontoise:195514 in 2013
  Venezia:264534 in 2014
  Ldz:711332 in 2013
  Vlaardingen:70905 in 2013
  Montpellier:441929 in 2013
  Lugano:62792 in 2014
  Strasbourg:475993 in 2013
  Odivelas:152840 in 2015
  Aix-en-Provence:360109 in 2013
  Ciudad Real:74960 in 2014
  San Sebastin/Donostia:186126 in 2014
  Livorno:160512 in 2014
  CA du Plateau de Saclay:98152 in 2013
  Vidin:46068 in 2014
  Exeter:123100 in 2014
  Brive-la-Gaillarde:77504 in 2013
  CA de Sophia-Antipolis:174322 in 2013
  Denizli:300081 in 2004
  Presov:90187 in 2014
  Darmstadt:149743 in 2014
  Troyes:126165 in 2013
  Pcs:146581 in 2014
  Reus:104962 in 2014
  Chteauroux:72014 in 2013
  Cesk Budejovice:93285 in 2014
  Lambeth:316200 in 2014
  Faro:61214 in 2015
  Kln:1034175 in 2014
  Drobeta-Turnu Severin:110768 in 2014
  Bucuresti:2110878 in 2014
  Duisburg:486855 in 2014
  Bergisch Gladbach:109425 in 2014
  Latina:125375 in 2014
  Koblenz:110643 in 2014
  Middlesbrough:139000 in 2014
  Helsingborg:126754 in 2008
  Dacorum:149000 in 2014
  Biella:45325 in 2014
  Funchal:106721 in 2015
  Jihlava:50521 in 2014
  Elche/Elx:228647 in 2014
  Balikesir:229842 in 2004
  Zielona Gra:118405 in 2013
  Messina:241997 in 2014
  Walsall:273200 in 2014
  Kingston-upon-Hull:257600 in 2014
  Arrecife:56880 in 2014
  Antwerpen:513915 in 2014
  North East Lincolnshire:159800 in 2014
  Tunbridge Wells:115900 in 2014
  Bromley:319600 in 2014
  Olsztyn:174675 in 2013
  Perugia:166030 in 2014
  Toulouse:734976 in 2013
  Sunderland:276500 in 2014
  Braila:213089 in 2014
  Fulda:65036 in 2014
  Lincoln:95900 in 2014
  Plauen:63967 in 2014
  Plovdiv:341041 in 2014
  Preston:140400 in 2014
  CC de l'Ouest de la Plaine de France:47286 in 2013
  Liepaja:71926 in 2014
  Besanon:178653 in 2013
  Coventry:333600 in 2014

### Further exercise

We leave it up to you to play around with this interesting data. Some ideas you could explore are:
* How many cities have a value in 2015
* Sort them first by year and then population

### Which ones are the 10 biggest cities?

We show here an algorithms which performs a scan over the data and *remembers* the top-k biggest elements

Other versions could be to store all values in a list or dictionary and then sort the datasctructre after a full parse.

We use the code example from http://stevehanov.ca/blog/index.php?id=122 and adapt it for "tuples" as per https://docs.python.org/2/library/heapq.html

In [109]:
#USING A HEAP ( complexity O(n log(k))) 
import heapq
topKCities = []
k=10
yearIndex=2#2015
with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for i, row in enumerate(csvfile):
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"): # same filter conditition as before
            popCount=row[yearIndex].strip().split(" ")[0]
            if popCount != ":" and int(popCount)>0: # check if value exists and we can convert it
                #ok we have a population value >0, that is hte most recent year, lets store this
                cityCode=row[0].split(",")[1]
                cityLabel=cityCodeMap[cityCode] # lets just merge the mapping from city code to label in this code
                cityPopulation=int(popCount)
                #CODE FROM http://stevehanov.ca/blog/index.php?id=122
                #ADAPTION TO TUPLES FROM https://docs.python.org/2/library/heapq.html
                item=(cityPopulation,cityLabel)
                # If we have not yet found k items, or the current item is larger than
                # the smallest item on the heap,
                if len(topKCities) < k or item > topKCities[0]:
                    # If the heap is full, remove the smallest element on the heap.
                    if len(topKCities) == k: heapq.heappop( topKCities )
                    # add the current element as the new smallest.
                    heapq.heappush( topKCities, item )
for city in heapq.nlargest(k,topKCities): 
    print(city) #see https://docs.python.org/2/library/heapq.html

(8477600, 'London (greater city)')
(3421829, 'Berlin')
(3207006, 'Milano (greater city)')
(3176357, 'Barcelona (greater city)')
(3176107, 'Napoli (greater city)')
(3165235, 'Madrid')
(2863322, 'Roma')
(2723900, 'Greater Manchester')
(2462300, 'West Midlands urban area')
(2110878, 'Bucuresti')

In [112]:
#USING A Dictionary ( complexity O(n log(n))) 

cities = {}
k=10
yearIndex=2#2015
with open(urbanAuditFile) as f:
    csvfile = csv.reader(f, delimiter="\t")
    for i, row in enumerate(csvfile):
        if 'DE1001V' in row[0] and len(row[0])> len("DE1001V,AT"): # same filter conditition as before
            popCount=row[yearIndex].strip().split(" ")[0]
            if popCount != ":" and int(popCount)>0: # check if value exists and we can convert it
                #ok we have a population value >0, that is hte most recent year, lets store this
                cityCode=row[0].split(",")[1]
                cityLabel=cityCodeMap[cityCode] # lets just merge the mapping from city code to label in this code
                cityPopulation=int(popCount)
                cities[cityLabel]=cityPopulation

#Option1
from operator import itemgetter
topkCitites= sorted(cities.items(), key=itemgetter(1), reverse=True)[0:k] # sort descending
for city in topkCitites:
    print(city)

('London (greater city)', 8477600)
('Berlin', 3421829)
('Milano (greater city)', 3207006)
('Barcelona (greater city)', 3176357)
('Napoli (greater city)', 3176107)
('Madrid', 3165235)
('Roma', 2863322)
('Greater Manchester', 2723900)
('West Midlands urban area', 2462300)
('Bucuresti', 2110878)

In [110]:
#Another Option for the output
from collections import Counter

sortedCitites = Counter(cities)
for k, v in sortedCitites.most_common(k):
    print(k,v) #see https://docs.python.org/2/library/heapq.html

London (greater city) 8477600
Berlin 3421829
Milano (greater city) 3207006
Barcelona (greater city) 3176357
Napoli (greater city) 3176107
Madrid 3165235
Roma 2863322
Greater Manchester 2723900
West Midlands urban area 2462300
Bucuresti 2110878

### How many cities has each country?

This question will be answered in the lecture